html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, article, aside, footer, header, menu, nav, section{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family: sans-serif;
	vertical-align: baseline;
    text-decoration: none;
    font-weight: 600;
}

body{
    background-color: tomato;
}

.cabecalho{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 58px;
    background: #FFFFFF;
    box-shadow: 0px 13px 20px -20px;
}

main{
    max-width: 1300px;
    display: flex;
    background-color: blue;
}

.container{
    max-width: ;
    margin: 0 2.5%;
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    background-color: yellow;
}


.card{
    height: 343px;
    width: 287px;
    border-radius: 8px;
    display: flex;
    flex-flow: row wrap;
    background-color: #FFFFFF;
    box-shadow: 0px 15px 15px -20px;
    border-radius: 8px;
}

.card > .thumb{
    height: 175px;
    width: 286px;
    border-radius: 8px;
    background-color: yellow;
}

.recentes{
    padding: 1em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 15px 15px -20px;
    border-radius: 8px;
    /* background-color: yellowgreen; */
}


.mini-card{
    display: flex;
    align-items: center;
    gap: 10px;
}